IGT22devMadeEasy-ep3.json
[
   {
      "id":"483e0262.1a198c",
      "type":"file",
      "z":"890ea481.cce2d8",
      "name":"DO_1_Dehumidifier",
      "filename":"/sys/class/gpio/gpio110/value",
      "appendNewline":false,
      "createDir":false,
      "overwriteFile":"true",
      "encoding":"none",
      "x":910,
      "y":180,
      "wires":[
         [
            "44f315e5.7f6aec"
         ]
      ]
   },
   {
      "id":"6715419d.fd0f",
      "type":"file",
      "z":"890ea481.cce2d8",
      "name":"DO_0_Humidifier",
      "filename":"/sys/class/gpio/gpio111/value",
      "appendNewline":false,
      "createDir":true,
      "overwriteFile":"true",
      "encoding":"none",
      "x":910,
      "y":80,
      "wires":[
         [
            "f9064914.dec258"
         ]
      ]
   },
   {
      "id":"5e3804f1.870d2c",
      "type":"switch",
      "z":"890ea481.cce2d8",
      "name":"humidity check",
      "property":"payload[1]",
      "propertyType":"msg",
      "rules":[
         {
            "t":"lt",
            "v":"580",
            "vt":"num"
         },
         {
            "t":"gt",
            "v":"584",
            "vt":"str"
         },
         {
            "t":"else"
         }
      ],
      "checkall":"false",
      "repair":false,
      "outputs":3,
      "x":320,
      "y":160,
      "wires":[
         [
            "c73d54e0.1c4638",
            "e5a5738f.4e594"
         ],
         [
            "4d56214f.59794",
            "773c69b5.4e3a68"
         ],
         [
            "e5a5738f.4e594",
            "773c69b5.4e3a68"
         ]
      ]
   },
   {
      "id":"4d56214f.59794",
      "type":"change",
      "z":"890ea481.cce2d8",
      "name":"Turn on Dehumidifier",
      "rules":[
         {
            "t":"set",
            "p":"payload",
            "pt":"msg",
            "to":"1",
            "tot":"str"
         }
      ],
      "action":"",
      "property":"",
      "from":"",
      "to":"",
      "reg":false,
      "x":600,
      "y":180,
      "wires":[
         [
            "483e0262.1a198c"
         ]
      ]
   },
   {
      "id":"773c69b5.4e3a68",
      "type":"change",
      "z":"890ea481.cce2d8",
      "name":"Turn off Humidifier",
      "rules":[
         {
            "t":"set",
            "p":"payload",
            "pt":"msg",
            "to":"0",
            "tot":"str"
         }
      ],
      "action":"",
      "property":"",
      "from":"",
      "to":"",
      "reg":false,
      "x":590,
      "y":220,
      "wires":[
         [
            "6715419d.fd0f"
         ]
      ]
   },
   {
      "id":"e5a5738f.4e594",
      "type":"change",
      "z":"890ea481.cce2d8",
      "name":"Turn off Dehumidifier",
      "rules":[
         {
            "t":"set",
            "p":"payload",
            "pt":"msg",
            "to":"0",
            "tot":"str"
         }
      ],
      "action":"",
      "property":"",
      "from":"",
      "to":"",
      "reg":false,
      "x":600,
      "y":120,
      "wires":[
         [
            "483e0262.1a198c"
         ]
      ]
   },
   {
      "id":"c73d54e0.1c4638",
      "type":"change",
      "z":"890ea481.cce2d8",
      "name":"Turn on Humidifier",
      "rules":[
         {
            "t":"set",
            "p":"payload",
            "pt":"msg",
            "to":"1",
            "tot":"str"
         }
      ],
      "action":"",
      "property":"",
      "from":"",
      "to":"",
      "reg":false,
      "x":590,
      "y":80,
      "wires":[
         [
            "6715419d.fd0f"
         ]
      ]
   },
   {
      "id":"f9064914.dec258",
      "type":"file",
      "z":"890ea481.cce2d8",
      "name":"L4",
      "filename":"/sys/class/leds/igt22::usr4/brightness",
      "appendNewline":false,
      "createDir":true,
      "overwriteFile":"true",
      "encoding":"none",
      "x":1110,
      "y":80,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"44f315e5.7f6aec",
      "type":"file",
      "z":"890ea481.cce2d8",
      "name":"L5",
      "filename":"/sys/class/leds/igt22::usr5/brightness",
      "appendNewline":false,
      "createDir":true,
      "overwriteFile":"true",
      "encoding":"none",
      "x":1110,
      "y":180,
      "wires":[
         [
            
         ]
      ]
   }
]
