IGT22devMadeEasy-ep3.json
[
   {
      "id":"db039ba6.a17fe8",
      "type":"file",
      "z":"c0a3ed21.91a69",
      "name":"DO_1_Dehumidifier",
      "filename":"/sys/class/gpio/gpio110/value",
      "appendNewline":false,
      "createDir":false,
      "overwriteFile":"true",
      "encoding":"none",
      "x":910,
      "y":180,
      "wires":[
         [
            "89e5b499.eddd68"
         ]
      ]
   },
   {
      "id":"e92432b7.05655",
      "type":"file",
      "z":"c0a3ed21.91a69",
      "name":"DO_0_Humidifier",
      "filename":"/sys/class/gpio/gpio111/value",
      "appendNewline":false,
      "createDir":true,
      "overwriteFile":"true",
      "encoding":"none",
      "x":910,
      "y":80,
      "wires":[
         [
            "7fea593f.9d8108"
         ]
      ]
   },
   {
      "id":"47799f8e.d33a1",
      "type":"switch",
      "z":"c0a3ed21.91a69",
      "name":"humidity check",
      "property":"payload[1]",
      "propertyType":"msg",
      "rules":[
         {
            "t":"lt",
            "v":"580",
            "vt":"num"
         },
         {
            "t":"gt",
            "v":"584",
            "vt":"str"
         },
         {
            "t":"else"
         }
      ],
      "checkall":"false",
      "repair":false,
      "outputs":3,
      "x":320,
      "y":100,
      "wires":[
         [
            "a6e66b04.dd89e8",
            "e4acb80d.ae9df8"
         ],
         [
            "226d9519.3e709a",
            "c008f94a.7979b8"
         ],
         [
            "e4acb80d.ae9df8",
            "c008f94a.7979b8"
         ]
      ]
   },
   {
      "id":"226d9519.3e709a",
      "type":"change",
      "z":"c0a3ed21.91a69",
      "name":"Turn on Dehumidifier",
      "rules":[
         {
            "t":"set",
            "p":"payload",
            "pt":"msg",
            "to":"1",
            "tot":"str"
         },
         {
            "t":"set",
            "p":"machine",
            "pt":"msg",
            "to":"DehumidifierOn",
            "tot":"str"
         }
      ],
      "action":"",
      "property":"",
      "from":"",
      "to":"",
      "reg":false,
      "x":600,
      "y":140,
      "wires":[
         [
            "db039ba6.a17fe8"
         ]
      ]
   },
   {
      "id":"c008f94a.7979b8",
      "type":"change",
      "z":"c0a3ed21.91a69",
      "name":"Turn off Humidifier",
      "rules":[
         {
            "t":"set",
            "p":"payload",
            "pt":"msg",
            "to":"0",
            "tot":"str"
         },
         {
            "t":"set",
            "p":"machine",
            "pt":"msg",
            "to":"HumidifierOff",
            "tot":"str"
         }
      ],
      "action":"",
      "property":"",
      "from":"",
      "to":"",
      "reg":false,
      "x":590,
      "y":80,
      "wires":[
         [
            "e92432b7.05655"
         ]
      ]
   },
   {
      "id":"e4acb80d.ae9df8",
      "type":"change",
      "z":"c0a3ed21.91a69",
      "name":"Turn off Dehumidifier",
      "rules":[
         {
            "t":"set",
            "p":"payload",
            "pt":"msg",
            "to":"0",
            "tot":"str"
         },
         {
            "t":"set",
            "p":"machine",
            "pt":"msg",
            "to":"DehumidifierOff",
            "tot":"str"
         }
      ],
      "action":"",
      "property":"",
      "from":"",
      "to":"",
      "reg":false,
      "x":600,
      "y":180,
      "wires":[
         [
            "db039ba6.a17fe8"
         ]
      ]
   },
   {
      "id":"a6e66b04.dd89e8",
      "type":"change",
      "z":"c0a3ed21.91a69",
      "name":"Turn on Humidifier",
      "rules":[
         {
            "t":"set",
            "p":"payload",
            "pt":"msg",
            "to":"1",
            "tot":"str"
         },
         {
            "t":"set",
            "p":"machine",
            "pt":"msg",
            "to":"HumidifierOn",
            "tot":"str"
         }
      ],
      "action":"",
      "property":"",
      "from":"",
      "to":"",
      "reg":false,
      "x":590,
      "y":40,
      "wires":[
         [
            "e92432b7.05655"
         ]
      ]
   },
   {
      "id":"7fea593f.9d8108",
      "type":"file",
      "z":"c0a3ed21.91a69",
      "name":"L4",
      "filename":"/sys/class/leds/igt22::usr4/brightness",
      "appendNewline":false,
      "createDir":true,
      "overwriteFile":"true",
      "encoding":"none",
      "x":1110,
      "y":80,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"89e5b499.eddd68",
      "type":"file",
      "z":"c0a3ed21.91a69",
      "name":"L5",
      "filename":"/sys/class/leds/igt22::usr5/brightness",
      "appendNewline":false,
      "createDir":true,
      "overwriteFile":"true",
      "encoding":"none",
      "x":1110,
      "y":180,
      "wires":[
         [
            
         ]
      ]
   }
]