IGT22devMadeEasy-ModbusHumidityHLwMQTTbroker.json
[
   {
      "id":"c0a3ed21.91a69",
      "type":"tab",
      "label":"Modbus Humidity High Low & MQTT Broker",
      "disabled":false,
      "info":""
   },
   {
      "id":"db039ba6.a17fe8",
      "type":"file",
      "z":"c0a3ed21.91a69",
      "name":"DO_1_Dehumidifier",
      "filename":"/sys/class/gpio/gpio110/value",
      "appendNewline":false,
      "createDir":false,
      "overwriteFile":"true",
      "encoding":"none",
      "x":910,
      "y":180,
      "wires":[
         [
            "89e5b499.eddd68"
         ]
      ]
   },
   {
      "id":"6950b4e6.784e4c",
      "type":"modbus-read",
      "z":"c0a3ed21.91a69",
      "name":"Temp. & Humidity",
      "topic":"",
      "showStatusActivities":false,
      "logIOActivities":false,
      "showErrors":false,
      "unitid":"1",
      "dataType":"HoldingRegister",
      "adr":"563",
      "quantity":"2",
      "rate":"20",
      "rateUnit":"s",
      "delayOnStart":false,
      "startDelayTime":"",
      "server":"1f8de1d1.297b9e",
      "useIOFile":false,
      "ioFile":"",
      "useIOForPayload":false,
      "emptyMsgOnFail":false,
      "x":120,
      "y":200,
      "wires":[
         [
            "47799f8e.d33a1",
            "f0a86365.d47a6",
            "b9b6d1f.06de93",
            "302424cd.a0c4dc",
            "def6881d.3379c8",
            "e962f530.3c3b58"
         ],
         [
            
         ]
      ]
   },
   {
      "id":"e92432b7.05655",
      "type":"file",
      "z":"c0a3ed21.91a69",
      "name":"DO_0_Humidifier",
      "filename":"/sys/class/gpio/gpio111/value",
      "appendNewline":false,
      "createDir":true,
      "overwriteFile":"true",
      "encoding":"none",
      "x":910,
      "y":80,
      "wires":[
         [
            "7fea593f.9d8108"
         ]
      ]
   },
   {
      "id":"47799f8e.d33a1",
      "type":"switch",
      "z":"c0a3ed21.91a69",
      "name":"humidity check",
      "property":"payload[1]",
      "propertyType":"msg",
      "rules":[
         {
            "t":"lt",
            "v":"580",
            "vt":"num"
         },
         {
            "t":"gt",
            "v":"584",
            "vt":"str"
         },
         {
            "t":"else"
         }
      ],
      "checkall":"false",
      "repair":false,
      "outputs":3,
      "x":320,
      "y":100,
      "wires":[
         [
            "a6e66b04.dd89e8",
            "e4acb80d.ae9df8"
         ],
         [
            "226d9519.3e709a",
            "c008f94a.7979b8"
         ],
         [
            "e4acb80d.ae9df8",
            "c008f94a.7979b8"
         ]
      ]
   },
   {
      "id":"226d9519.3e709a",
      "type":"change",
      "z":"c0a3ed21.91a69",
      "name":"Turn on Dehumidifier",
      "rules":[
         {
            "t":"set",
            "p":"payload",
            "pt":"msg",
            "to":"1",
            "tot":"str"
         },
         {
            "t":"set",
            "p":"machine",
            "pt":"msg",
            "to":"DehumidifierOn",
            "tot":"str"
         }
      ],
      "action":"",
      "property":"",
      "from":"",
      "to":"",
      "reg":false,
      "x":600,
      "y":140,
      "wires":[
         [
            "db039ba6.a17fe8"
         ]
      ]
   },
   {
      "id":"c008f94a.7979b8",
      "type":"change",
      "z":"c0a3ed21.91a69",
      "name":"Turn off Humidifier",
      "rules":[
         {
            "t":"set",
            "p":"payload",
            "pt":"msg",
            "to":"0",
            "tot":"str"
         },
         {
            "t":"set",
            "p":"machine",
            "pt":"msg",
            "to":"HumidifierOff",
            "tot":"str"
         }
      ],
      "action":"",
      "property":"",
      "from":"",
      "to":"",
      "reg":false,
      "x":590,
      "y":80,
      "wires":[
         [
            "e92432b7.05655"
         ]
      ]
   },
   {
      "id":"e4acb80d.ae9df8",
      "type":"change",
      "z":"c0a3ed21.91a69",
      "name":"Turn off Dehumidifier",
      "rules":[
         {
            "t":"set",
            "p":"payload",
            "pt":"msg",
            "to":"0",
            "tot":"str"
         },
         {
            "t":"set",
            "p":"machine",
            "pt":"msg",
            "to":"DehumidifierOff",
            "tot":"str"
         }
      ],
      "action":"",
      "property":"",
      "from":"",
      "to":"",
      "reg":false,
      "x":600,
      "y":180,
      "wires":[
         [
            "db039ba6.a17fe8"
         ]
      ]
   },
   {
      "id":"a6e66b04.dd89e8",
      "type":"change",
      "z":"c0a3ed21.91a69",
      "name":"Turn on Humidifier",
      "rules":[
         {
            "t":"set",
            "p":"payload",
            "pt":"msg",
            "to":"1",
            "tot":"str"
         },
         {
            "t":"set",
            "p":"machine",
            "pt":"msg",
            "to":"HumidifierOn",
            "tot":"str"
         }
      ],
      "action":"",
      "property":"",
      "from":"",
      "to":"",
      "reg":false,
      "x":590,
      "y":40,
      "wires":[
         [
            "e92432b7.05655"
         ]
      ]
   },
   {
      "id":"f0a86365.d47a6",
      "type":"function",
      "z":"c0a3ed21.91a69",
      "d":true,
      "name":"Humidity check",
      "func":"var humidifier = {payload:\"0\"};\nvar dehumidifier = {payload:\"0\"};\n\nif (msg.payload[1] < 580)\n{\n    humidifier.payload = \"1\";\n    dehumidifier.payload = \"0\";\n    msg.payload = \"Humidity Low\";\n}\nelse if (msg.payload[1] >=584)\n{\n    humidifier.payload = \"0\";\n    dehumidifier.payload = \"1\";\n    msg.payload = \"Humidity High\";\n}\nelse\n{\n    humidifier.payload = \"0\";\n    dehumidifier.payload = \"0\";\n    msg.payload = \"Humidity Good\";\n}\n\nreturn [humidifier,dehumidifier,msg];",
      "outputs":3,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "x":500,
      "y":380,
      "wires":[
         [
            "e92432b7.05655"
         ],
         [
            "db039ba6.a17fe8"
         ],
         [
            "366e98c1.0b08d8"
         ]
      ]
   },
   {
      "id":"366e98c1.0b08d8",
      "type":"debug",
      "z":"c0a3ed21.91a69",
      "name":"",
      "active":false,
      "tosidebar":true,
      "console":false,
      "tostatus":false,
      "complete":"payload",
      "targetType":"msg",
      "statusVal":"",
      "statusType":"auto",
      "x":890,
      "y":380,
      "wires":[
         
      ]
   },
   {
      "id":"302424cd.a0c4dc",
      "type":"function",
      "z":"c0a3ed21.91a69",
      "d":true,
      "name":"MQTT anyway",
      "func":"msg.payload={\n    \"serialNumber\": \"IGT22_K4099998_TTYS2\",\n    \"temp\": msg.payload[0],\n    \"hum\": msg.payload[1]}\n\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "x":440,
      "y":520,
      "wires":[
         [
            "6df0e75f.9fe648",
            "1c80e5e5.87fbea"
         ]
      ]
   },
   {
      "id":"def6881d.3379c8",
      "type":"function",
      "z":"c0a3ed21.91a69",
      "d":true,
      "name":"MQTT on any change",
      "func":"var prevTemp=flow.get(\"prevTemp\")||0;\nvar prevHumi=flow.get(\"prevHumi\")||0;\n\nvar Temp=msg.payload[0];\nvar Humi=msg.payload[1];\n\n\nif (Temp != prevTemp || Humi != prevHumi){\n    msg.payload={\n        \"serialNumber\": \"IGT22_K4099998_TTYS2\",\n        \"temp\": Temp,\n        \"hum\": Humi}\n        \n    flow.set(\"prevTemp\", Temp);\n    flow.set(\"prevHumi\", Humi);\n    return msg;\n}\n\nreturn null;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "x":460,
      "y":560,
      "wires":[
         [
            "6df0e75f.9fe648",
            "1c80e5e5.87fbea"
         ]
      ]
   },
   {
      "id":"1c80e5e5.87fbea",
      "type":"debug",
      "z":"c0a3ed21.91a69",
      "name":"",
      "active":false,
      "tosidebar":true,
      "console":false,
      "tostatus":false,
      "complete":"false",
      "statusVal":"",
      "statusType":"auto",
      "x":850,
      "y":600,
      "wires":[
         
      ]
   },
   {
      "id":"6df0e75f.9fe648",
      "type":"mqtt out",
      "z":"c0a3ed21.91a69",
      "name":"",
      "topic":"/sensor/data",
      "qos":"0",
      "retain":"false",
      "broker":"e8dded67.2d61c",
      "x":770,
      "y":520,
      "wires":[
         
      ]
   },
   {
      "id":"e962f530.3c3b58",
      "type":"function",
      "z":"c0a3ed21.91a69",
      "d":true,
      "name":"MQTT on change only",
      "func":"var prevTemp=flow.get(\"prevTemp\")||0;\nvar prevHumi=flow.get(\"prevHumi\")||0;\n\nvar Temp=msg.payload[0];\nvar Humi=msg.payload[1];\n\nvar sent=false;\n\nmsg.payload={\n        \"serialNumber\": \"IGT22_K4099998_TTYS2\",\n}\n    \nif (Temp != prevTemp){\n    msg.payload.temp=Temp;\n    flow.set(\"prevTemp\", Temp);\n    sent=true;\n}\n\nif (Humi != prevHumi){\n    msg.payload.hum=Humi;\n    flow.set(\"prevHumi\", Humi);    \n    sent=true;\n}\n\nif (sent == true)\n    return msg;\nelse\n    return null;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "x":460,
      "y":600,
      "wires":[
         [
            "6df0e75f.9fe648",
            "1c80e5e5.87fbea"
         ]
      ]
   },
   {
      "id":"b9b6d1f.06de93",
      "type":"function",
      "z":"c0a3ed21.91a69",
      "name":"MQTT on change only unless 1 min",
      "func":"var prevTemp=flow.get(\"prevTemp\")||0;\nvar prevTempTime=flow.get(\"prevTempTime\")||0;\n\nvar prevHumi=flow.get(\"prevHumi\")||0;\nvar prevHumiTime=flow.get(\"prevHumiTime\")||0;\n\nvar Temp=msg.payload[0];\nvar Humi=msg.payload[1];\n\nvar sent=false;\n\nmsg.payload={\n        \"serialNumber\": \"IGT22_K4099998_TTYS2\",\n}\n    \nif (Temp != prevTemp || Date.now()-prevTempTime > 60000){\n    msg.payload.temp=Temp;\n    flow.set(\"prevTemp\", Temp);\n    flow.set(\"prevTempTime\", Date.now());\n    sent=true;\n}\n\nif (Humi != prevHumi || Date.now()-prevHumiTime > 60000){\n    msg.payload.hum=Humi;\n    flow.set(\"prevHumi\", Humi);\n    flow.set(\"prevHumiTime\", Date.now());\n    sent=true;\n}\n\nif (sent == true)\n    return msg;\nelse\n    return null;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "x":500,
      "y":640,
      "wires":[
         [
            "1c80e5e5.87fbea",
            "6df0e75f.9fe648"
         ]
      ]
   },
   {
      "id":"8aeb22d0.9aabe",
      "type":"aedes broker",
      "z":"c0a3ed21.91a69",
      "name":"",
      "mqtt_port":1883,
      "mqtt_ws_bind":"port",
      "mqtt_ws_port":"",
      "mqtt_ws_path":"",
      "cert":"",
      "key":"",
      "certname":"",
      "keyname":"",
      "dburl":"",
      "usetls":false,
      "x":130,
      "y":480,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"7fea593f.9d8108",
      "type":"file",
      "z":"c0a3ed21.91a69",
      "name":"L4",
      "filename":"/sys/class/leds/igt22::usr4/brightness",
      "appendNewline":false,
      "createDir":true,
      "overwriteFile":"true",
      "encoding":"none",
      "x":1110,
      "y":80,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"89e5b499.eddd68",
      "type":"file",
      "z":"c0a3ed21.91a69",
      "name":"L5",
      "filename":"/sys/class/leds/igt22::usr5/brightness",
      "appendNewline":false,
      "createDir":true,
      "overwriteFile":"true",
      "encoding":"none",
      "x":1110,
      "y":180,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"1f8de1d1.297b9e",
      "type":"modbus-client",
      "name":"Carlo Gavazzi ESTHW50A2D",
      "clienttype":"serial",
      "bufferCommands":true,
      "stateLogEnabled":false,
      "queueLogEnabled":false,
      "tcpHost":"127.0.0.1",
      "tcpPort":"502",
      "tcpType":"DEFAULT",
      "serialPort":"/dev/ttyS2",
      "serialType":"RTU-BUFFERD",
      "serialBaudrate":"9600",
      "serialDatabits":"8",
      "serialStopbits":"1",
      "serialParity":"none",
      "serialConnectionDelay":"100",
      "unit_id":"1",
      "commandDelay":"1",
      "clientTimeout":"1000",
      "reconnectOnTimeout":true,
      "reconnectTimeout":"2000",
      "parallelUnitIdsAllowed":true
   },
   {
      "id":"e8dded67.2d61c",
      "type":"mqtt-broker",
      "name":"MQTT Broker in NodeRED",
      "broker":"172.17.0.2",
      "port":"1883",
      "clientid":"",
      "usetls":false,
      "compatmode":false,
      "keepalive":"60",
      "cleansession":true,
      "birthTopic":"",
      "birthQos":"0",
      "birthPayload":"",
      "closeTopic":"",
      "closeQos":"0",
      "closePayload":"",
      "willTopic":"",
      "willQos":"0",
      "willPayload":""
   }
]
