ModbusHumidityHL.json
[{"id":"890ea481.cce2d8","type":"tab","label":"Modbus Humidity High Low","disabled":false,"info":""},{"id":"483e0262.1a198c","type":"file","z":"890ea481.cce2d8","name":"DO_1_Dehumidifier","filename":"/sys/class/gpio/gpio110/value","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":910,"y":180,"wires":[[]]},{"id":"d6be50f1.ec2fc","type":"modbus-read","z":"890ea481.cce2d8","name":"T/H Sensor","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"563","quantity":"2","rate":"20","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"1f8de1d1.297b9e","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":110,"y":200,"wires":[["5e3804f1.870d2c","8023c88f.44dcc8"],[]]},{"id":"6715419d.fd0f","type":"file","z":"890ea481.cce2d8","name":"DO_0_Humidifier","filename":"/sys/class/gpio/gpio111/value","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":910,"y":80,"wires":[[]]},{"id":"94b59bf0.6d91b8","type":"debug","z":"890ea481.cce2d8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"machine","targetType":"msg","statusVal":"","statusType":"auto","x":900,"y":260,"wires":[]},{"id":"6cf4e863.64fe38","type":"file","z":"890ea481.cce2d8","name":"L5 High","filename":"/sys/class/leds/igt22::usr5/brightness","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":880,"y":140,"wires":[[]]},{"id":"eafd729e.55dc7","type":"file","z":"890ea481.cce2d8","name":"L4 Low","filename":"/sys/class/leds/igt22::usr4/brightness","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":880,"y":40,"wires":[[]]},{"id":"748064ec.aa325c","type":"change","z":"890ea481.cce2d8","name":"Msg Humidity Low","rules":[{"t":"set","p":"payload","pt":"msg","to":"Humidity Low","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":260,"wires":[["58f5b144.cea0f"]]},{"id":"e9296b72.3eab98","type":"change","z":"890ea481.cce2d8","name":"Msg Humidity High","rules":[{"t":"set","p":"payload","pt":"msg","to":"Humidity High","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":300,"wires":[["58f5b144.cea0f"]]},{"id":"5e3804f1.870d2c","type":"switch","z":"890ea481.cce2d8","d":true,"name":"humidity check","property":"payload[1]","propertyType":"msg","rules":[{"t":"lt","v":"580","vt":"num"},{"t":"gte","v":"584","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":320,"y":100,"wires":[["c73d54e0.1c4638","e5a5738f.4e594","748064ec.aa325c"],["4d56214f.59794","773c69b5.4e3a68","e9296b72.3eab98"],["e5a5738f.4e594","773c69b5.4e3a68","f36a2ec6.19c56"]]},{"id":"f36a2ec6.19c56","type":"change","z":"890ea481.cce2d8","name":"Msg Humidity Good","rules":[{"t":"set","p":"payload","pt":"msg","to":"Humidity Good","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":340,"wires":[["58f5b144.cea0f"]]},{"id":"4d56214f.59794","type":"change","z":"890ea481.cce2d8","name":"Turn on Dehumidifier","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"},{"t":"set","p":"machine","pt":"msg","to":"DehumidifierOn","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":140,"wires":[["483e0262.1a198c","6cf4e863.64fe38","94b59bf0.6d91b8","b78f74fc.97c0e8"]]},{"id":"773c69b5.4e3a68","type":"change","z":"890ea481.cce2d8","name":"Turn off Humidifier","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"},{"t":"set","p":"machine","pt":"msg","to":"HumidifierOff","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":80,"wires":[["eafd729e.55dc7","6715419d.fd0f","94b59bf0.6d91b8","b78f74fc.97c0e8"]]},{"id":"e5a5738f.4e594","type":"change","z":"890ea481.cce2d8","name":"Turn off Dehumidifier","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"},{"t":"set","p":"machine","pt":"msg","to":"DehumidifierOff","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":180,"wires":[["483e0262.1a198c","6cf4e863.64fe38","94b59bf0.6d91b8","b78f74fc.97c0e8"]]},{"id":"c73d54e0.1c4638","type":"change","z":"890ea481.cce2d8","name":"Turn on Humidifier","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"},{"t":"set","p":"machine","pt":"msg","to":"HumidifierOn","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":40,"wires":[["eafd729e.55dc7","6715419d.fd0f","94b59bf0.6d91b8","b78f74fc.97c0e8"]]},{"id":"8023c88f.44dcc8","type":"function","z":"890ea481.cce2d8","name":"Humidity check","func":"var humidifier = {payload:\"0\"};\nvar dehumidifier = {payload:\"0\"};\n\nif (msg.payload[1] < 580)\n{\n    humidifier.payload = \"1\";\n    dehumidifier.payload = \"0\";\n    msg.payload = \"Humidity Low\";\n}\nelse if (msg.payload[1] >=584)\n{\n    humidifier.payload = \"0\";\n    dehumidifier.payload = \"1\";\n    msg.payload = \"Humidity High\";\n}\nelse\n{\n    humidifier.payload = \"0\";\n    dehumidifier.payload = \"0\";\n    msg.payload = \"Humidity Good\";\n}\n\nreturn [humidifier,dehumidifier,msg];","outputs":3,"noerr":0,"initialize":"","finalize":"","x":340,"y":540,"wires":[["8e23b890.3da098","68b1e2f5.dece1c","1723b935.805af7"],["a177dca0.0f6bd","861e38fc.ce9b38","1723b935.805af7"],["1723b935.805af7"]]},{"id":"58f5b144.cea0f","type":"debug","z":"890ea481.cce2d8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":890,"y":340,"wires":[]},{"id":"b78f74fc.97c0e8","type":"debug","z":"890ea481.cce2d8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":890,"y":220,"wires":[]},{"id":"861e38fc.ce9b38","type":"file","z":"890ea481.cce2d8","name":"DO_1_Dehumidifier","filename":"/sys/class/gpio/gpio110/value","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":910,"y":580,"wires":[[]]},{"id":"68b1e2f5.dece1c","type":"file","z":"890ea481.cce2d8","name":"DO_0_Humidifier","filename":"/sys/class/gpio/gpio111/value","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":910,"y":480,"wires":[[]]},{"id":"a177dca0.0f6bd","type":"file","z":"890ea481.cce2d8","name":"L5 High","filename":"/sys/class/leds/igt22::usr5/brightness","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":880,"y":540,"wires":[[]]},{"id":"8e23b890.3da098","type":"file","z":"890ea481.cce2d8","name":"L4 Low","filename":"/sys/class/leds/igt22::usr4/brightness","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":880,"y":440,"wires":[[]]},{"id":"1723b935.805af7","type":"debug","z":"890ea481.cce2d8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":890,"y":620,"wires":[]},{"id":"1f8de1d1.297b9e","type":"modbus-client","name":"","clienttype":"serial","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyS2","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true}]
