Modbus2Mqtt.json
[{"id":"3f54c3be.bb2e8c","type":"tab","label":"Modbus2Mqtt","disabled":false,"info":""},{"id":"49e7b7b5.224468","type":"file","z":"3f54c3be.bb2e8c","name":"","filename":"/sys/class/gpio/gpio111/value","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":880,"y":260,"wires":[["c880912f.a841"]]},{"id":"3aa5be98.f33df2","type":"function","z":"3f54c3be.bb2e8c","d":true,"name":"MQTT anyway","func":"msg.payload={\n    \"serialNumber\": \"IGT22_K4099998_TTYS2\",\n    \"temp\": msg.payload[0],\n    \"hum\": msg.payload[1]}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":420,"wires":[["e5e1d48.da74928","23829bd1.c48424"]]},{"id":"43ce8061.d5934","type":"function","z":"3f54c3be.bb2e8c","name":"","func":"if (msg.payload[1] >= 584)\n{\n    msg.payload = \"1\"\n}\nelse\n    msg.payload = \"0\"\n    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":260,"wires":[["49e7b7b5.224468"]]},{"id":"45de447a.24adfc","type":"function","z":"3f54c3be.bb2e8c","d":true,"name":"MQTT on any change","func":"var prevTemp=flow.get(\"prevTemp\")||0;\nvar prevHumi=flow.get(\"prevHumi\")||0;\n\nvar Temp=msg.payload[0];\nvar Humi=msg.payload[1];\n\n\nif (Temp != prevTemp || Humi != prevHumi){\n    msg.payload={\n        \"serialNumber\": \"IGT22_K4099998_TTYS2\",\n        \"temp\": Temp,\n        \"hum\": Humi}\n        \n    flow.set(\"prevTemp\", Temp);\n    flow.set(\"prevHumi\", Humi);\n    return msg;\n}\n\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":460,"wires":[["e5e1d48.da74928","23829bd1.c48424"]]},{"id":"8e28b910.e2d368","type":"modbus-read","z":"3f54c3be.bb2e8c","name":"","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"563","quantity":"2","rate":"20","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"1f8de1d1.297b9e","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":130,"y":300,"wires":[["f3daa177.14581","1829bbad.f49ac4","3aa5be98.f33df2","45de447a.24adfc","82ef275e.e47f18","591a0561.f1a85c"],[]]},{"id":"23829bd1.c48424","type":"debug","z":"3f54c3be.bb2e8c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":690,"y":460,"wires":[]},{"id":"e5e1d48.da74928","type":"mqtt out","z":"3f54c3be.bb2e8c","name":"","topic":"/sensor/data","qos":"0","retain":"false","broker":"e8dded67.2d61c","x":690,"y":420,"wires":[]},{"id":"82ef275e.e47f18","type":"function","z":"3f54c3be.bb2e8c","d":true,"name":"MQTT on change only","func":"var prevTemp=flow.get(\"prevTemp\")||0;\nvar prevHumi=flow.get(\"prevHumi\")||0;\n\nvar Temp=msg.payload[0];\nvar Humi=msg.payload[1];\n\nvar sent=false;\n\nmsg.payload={\n        \"serialNumber\": \"IGT22_K4099998_TTYS2\",\n}\n    \nif (Temp != prevTemp){\n    msg.payload.temp=Temp;\n    flow.set(\"prevTemp\", Temp);\n    sent=true;\n}\n\nif (Humi != prevHumi){\n    msg.payload.hum=Humi;\n    flow.set(\"prevHumi\", Humi);    \n    sent=true;\n}\n\nif (sent == true)\n    return msg;\nelse\n    return null;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":500,"wires":[["e5e1d48.da74928","23829bd1.c48424"]]},{"id":"7e0aab64.f66994","type":"file","z":"3f54c3be.bb2e8c","name":"","filename":"/sys/class/gpio/gpio110/value","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":880,"y":80,"wires":[["c880912f.a841"]]},{"id":"97b5bbce.18bb58","type":"function","z":"3f54c3be.bb2e8c","name":"","func":"if (msg.payload[1] < 580)\n{\n    msg.payload = \"1\"\n}\nelse\n    msg.payload = \"0\"\n    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":80,"wires":[["7e0aab64.f66994"]]},{"id":"591a0561.f1a85c","type":"function","z":"3f54c3be.bb2e8c","name":"MQTT on change only unless 1 min","func":"var prevTemp=flow.get(\"prevTemp\")||0;\nvar prevTempTime=flow.get(\"prevTempTime\")||0;\n\nvar prevHumi=flow.get(\"prevHumi\")||0;\nvar prevHumiTime=flow.get(\"prevHumiTime\")||0;\n\nvar Temp=msg.payload[0];\nvar Humi=msg.payload[1];\n\nvar sent=false;\n\nmsg.payload={\n        \"serialNumber\": \"IGT22_K4099998_TTYS2\",\n}\n    \nif (Temp != prevTemp || Date.now()-prevTempTime > 60000){\n    msg.payload.temp=Temp;\n    flow.set(\"prevTemp\", Temp);\n    flow.set(\"prevTempTime\", Date.now());\n    sent=true;\n}\n\nif (Humi != prevHumi || Date.now()-prevHumiTime > 60000){\n    msg.payload.hum=Humi;\n    flow.set(\"prevHumi\", Humi);\n    flow.set(\"prevHumiTime\", Date.now());\n    sent=true;\n}\n\nif (sent == true)\n    return msg;\nelse\n    return null;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":540,"wires":[["23829bd1.c48424","e5e1d48.da74928"]]},{"id":"1829bbad.f49ac4","type":"switch","z":"3f54c3be.bb2e8c","name":"humidity >= 584","property":"payload[1]","propertyType":"msg","rules":[{"t":"gte","v":"584","vt":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":360,"y":320,"wires":[["1b0c3eb5.643581"],["5352a2a1.9af9ac"]]},{"id":"1b0c3eb5.643581","type":"change","z":"3f54c3be.bb2e8c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":300,"wires":[["49e7b7b5.224468","ff9a3ac5.850718"]]},{"id":"5352a2a1.9af9ac","type":"change","z":"3f54c3be.bb2e8c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":340,"wires":[["49e7b7b5.224468","ff9a3ac5.850718"]]},{"id":"f3daa177.14581","type":"switch","z":"3f54c3be.bb2e8c","name":"humidity < 580","property":"payload[1]","propertyType":"msg","rules":[{"t":"lt","v":"580","vt":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":360,"y":140,"wires":[["3d82d33a.d77e4c"],["62ba0d5a.617654"]]},{"id":"3d82d33a.d77e4c","type":"change","z":"3f54c3be.bb2e8c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":120,"wires":[["7e0aab64.f66994","88247845.452048"]]},{"id":"62ba0d5a.617654","type":"change","z":"3f54c3be.bb2e8c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":160,"wires":[["7e0aab64.f66994","88247845.452048"]]},{"id":"c880912f.a841","type":"debug","z":"3f54c3be.bb2e8c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1190,"y":120,"wires":[]},{"id":"55d8b600.6f208c","type":"aedes broker","z":"3f54c3be.bb2e8c","name":"","mqtt_port":1883,"mqtt_ws_bind":"port","mqtt_ws_port":"","mqtt_ws_path":"","cert":"","key":"","certname":"","keyname":"","dburl":"","usetls":false,"x":110,"y":120,"wires":[[]]},{"id":"ff9a3ac5.850718","type":"file","z":"3f54c3be.bb2e8c","name":"","filename":"/sys/class/leds/igt22::usr5/brightness","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":910,"y":300,"wires":[["c880912f.a841"]]},{"id":"88247845.452048","type":"file","z":"3f54c3be.bb2e8c","name":"","filename":"/sys/class/leds/igt22::usr4/brightness","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":910,"y":120,"wires":[["c880912f.a841"]]},{"id":"a47e9ba7.dd4718","type":"comment","z":"3f54c3be.bb2e8c","name":"Humiditiy Low","info":"","x":350,"y":40,"wires":[]},{"id":"dd711fe2.7a62e","type":"comment","z":"3f54c3be.bb2e8c","name":"Humiditiy High","info":"","x":360,"y":220,"wires":[]},{"id":"1f8de1d1.297b9e","type":"modbus-client","name":"","clienttype":"serial","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyS2","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"e8dded67.2d61c","type":"mqtt-broker","name":"","broker":"172.17.0.2","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
