Modbus2Mqtt.json
[{"id":"8a9c72a5.80db3","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f248a15.8be036","type":"file","z":"8a9c72a5.80db3","name":"","filename":"/sys/class/gpio/gpio111/value","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":880,"y":40,"wires":[["2f599cc1.030014"]]},{"id":"69826baa.769e04","type":"function","z":"8a9c72a5.80db3","d":true,"name":"MQTT anyway","func":"msg.payload={\n    \"serialNumber\": \"IGT22_K4099998_TTYS2\",\n    \"temp\": msg.payload.data[0],\n    \"hum\": msg.payload.data[1]}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":360,"wires":[[]]},{"id":"926bae48.4488f","type":"function","z":"8a9c72a5.80db3","name":"","func":"if (msg.payload.data[1] >= 584)\n{\n    msg.payload = \"1\"\n}\nelse\n    msg.payload = \"0\"\n    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":40,"wires":[["f248a15.8be036"]]},{"id":"28b15d1c.85b602","type":"function","z":"8a9c72a5.80db3","d":true,"name":"MQTT on any change","func":"var prevTemp=flow.get(\"prevTemp\")||0;\nvar prevHumi=flow.get(\"prevHumi\")||0;\n\nvar Temp=msg.payload.data[0];\nvar Humi=msg.payload.data[1];\n\n\nif (Temp != prevTemp || Humi != prevHumi){\n    msg.payload={\n        \"serialNumber\": \"IGT22_K4099998_TTYS2\",\n        \"temp\": Temp,\n        \"hum\": Humi}\n        \n    //flow.set(\"prevTemp\", Temp);\n    //flow.set(\"prevHumi\", Humi);\n    return msg;\n}\n\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":400,"wires":[[]]},{"id":"16628344.583add","type":"modbus-read","z":"8a9c72a5.80db3","name":"","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"563","quantity":"2","rate":"20","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"1f8de1d1.297b9e","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":130,"y":300,"wires":[[],["69826baa.769e04","28b15d1c.85b602","5aab5b7d.8162f4","dd829372.e7d5d","397a1785.05d708","eed12322.804ef"]]},{"id":"162ebf5e.53aae1","type":"debug","z":"8a9c72a5.80db3","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":690,"y":500,"wires":[]},{"id":"12e58738.3c65e9","type":"mqtt out","z":"8a9c72a5.80db3","name":"","topic":"/sensor/data","qos":"0","retain":"false","broker":"e8dded67.2d61c","x":690,"y":460,"wires":[]},{"id":"d0bcfa0.8c38508","type":"aedes broker","z":"8a9c72a5.80db3","name":"","mqtt_port":1883,"mqtt_ws_bind":"port","mqtt_ws_port":"","mqtt_ws_path":"","cert":"","key":"","certname":"","keyname":"","dburl":"","usetls":false,"x":110,"y":120,"wires":[[]]},{"id":"5aab5b7d.8162f4","type":"function","z":"8a9c72a5.80db3","d":true,"name":"MQTT on change only","func":"var prevTemp=flow.get(\"prevTemp\")||0;\nvar prevHumi=flow.get(\"prevHumi\")||0;\n\nvar Temp=msg.payload.data[0];\nvar Humi=msg.payload.data[1];\n\nvar sent=false;\n\nmsg.payload={\n        \"serialNumber\": \"IGT22_K4099998_TTYS2\",\n}\n    \nif (Temp != prevTemp){\n    msg.payload.temp=Temp;\n    flow.set(\"prevTemp\", Temp);\n    sent=true;\n}\n\nif (Humi != prevHumi){\n    msg.payload.hum=Humi;\n    flow.set(\"prevHumi\", Humi);    \n    sent=true;\n}\n\nif (sent == true)\n    return msg;\nelse\n    return null;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":440,"wires":[[]]},{"id":"a42b1a76.564db8","type":"file","z":"8a9c72a5.80db3","name":"","filename":"/sys/class/gpio/gpio110/value","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":880,"y":180,"wires":[["2f599cc1.030014"]]},{"id":"244dd034.f43f7","type":"function","z":"8a9c72a5.80db3","name":"","func":"if (msg.payload.data[1] < 580)\n{\n    msg.payload = \"1\"\n}\nelse\n    msg.payload = \"0\"\n    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":180,"wires":[["a42b1a76.564db8"]]},{"id":"dd829372.e7d5d","type":"function","z":"8a9c72a5.80db3","name":"MQTT on change only unless 1 min","func":"var prevTemp=flow.get(\"prevTemp\")||0;\nvar prevTempTime=flow.get(\"prevTempTime\")||0;\n\nvar prevHumi=flow.get(\"prevHumi\")||0;\nvar prevHumiTime=flow.get(\"prevHumiTime\")||0;\n\nvar Temp=msg.payload.data[0];\nvar Humi=msg.payload.data[1];\n\nvar sent=false;\n\nmsg.payload={\n        \"serialNumber\": \"IGT22_K4099998_TTYS2\",\n}\n    \nif (Temp != prevTemp || Date.now()-prevTempTime > 60000){\n    msg.payload.temp=Temp;\n    flow.set(\"prevTemp\", Temp);\n    flow.set(\"prevTempTime\", Date.now());\n    sent=true;\n}\n\nif (Humi != prevHumi || Date.now()-prevHumiTime > 60000){\n    msg.payload.hum=Humi;\n    flow.set(\"prevHumi\", Humi);\n    flow.set(\"prevHumiTime\", Date.now());\n    sent=true;\n}\n\nif (sent == true)\n    return msg;\nelse\n    return null;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":480,"wires":[["162ebf5e.53aae1","12e58738.3c65e9"]]},{"id":"397a1785.05d708","type":"switch","z":"8a9c72a5.80db3","name":"humidity >= 584","property":"payload.data[1]","propertyType":"msg","rules":[{"t":"gte","v":"584","vt":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":360,"y":100,"wires":[["84f861d1.a8eca"],["259da2c0.9fb99e"]]},{"id":"84f861d1.a8eca","type":"change","z":"8a9c72a5.80db3","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":80,"wires":[["f248a15.8be036"]]},{"id":"259da2c0.9fb99e","type":"change","z":"8a9c72a5.80db3","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":120,"wires":[["f248a15.8be036"]]},{"id":"eed12322.804ef","type":"switch","z":"8a9c72a5.80db3","name":"humidity < 580","property":"payload.data[1]","propertyType":"msg","rules":[{"t":"lt","v":"580","vt":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":360,"y":240,"wires":[["2c3cb932.764f96"],["313ea1e8.75766e"]]},{"id":"2c3cb932.764f96","type":"change","z":"8a9c72a5.80db3","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":220,"wires":[["a42b1a76.564db8"]]},{"id":"313ea1e8.75766e","type":"change","z":"8a9c72a5.80db3","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":260,"wires":[["a42b1a76.564db8"]]},{"id":"2f599cc1.030014","type":"debug","z":"8a9c72a5.80db3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1130,"y":100,"wires":[]},{"id":"1f8de1d1.297b9e","type":"modbus-client","name":"","clienttype":"serial","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyS2","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"e8dded67.2d61c","type":"mqtt-broker","name":"","broker":"172.17.0.1","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]