ModbusHumidityHL.json
[{"id":"890ea481.cce2d8","type":"tab","label":"Modbus Humidity High Low","disabled":false,"info":""},{"id":"483e0262.1a198c","type":"file","z":"890ea481.cce2d8","name":"","filename":"/sys/class/gpio/gpio111/value","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":840,"y":260,"wires":[["94b59bf0.6d91b8"]]},{"id":"8af985be.90cba8","type":"function","z":"890ea481.cce2d8","name":"Humidity High","func":"if (msg.payload[1] >= 584)\n    msg.payload = \"1\"\nelse\n    msg.payload = \"0\"\n    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":260,"wires":[["483e0262.1a198c","6cf4e863.64fe38"]]},{"id":"d6be50f1.ec2fc","type":"modbus-read","z":"890ea481.cce2d8","name":"T/H Sensor","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"563","quantity":"2","rate":"20","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"1f8de1d1.297b9e","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":110,"y":200,"wires":[["6bc80cff.eb3ed4","da757486.b60dd8","65435671.22a8e8","8af985be.90cba8"],[]]},{"id":"6715419d.fd0f","type":"file","z":"890ea481.cce2d8","name":"","filename":"/sys/class/gpio/gpio110/value","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":840,"y":80,"wires":[["94b59bf0.6d91b8"]]},{"id":"65435671.22a8e8","type":"function","z":"890ea481.cce2d8","name":"Humidity Low","func":"if (msg.payload[1] < 580)\n    msg.payload = \"1\"\nelse\n    msg.payload = \"0\"\n    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":80,"wires":[["6715419d.fd0f","eafd729e.55dc7"]]},{"id":"da757486.b60dd8","type":"switch","z":"890ea481.cce2d8","d":true,"name":"humidity >= 584","property":"payload[1]","propertyType":"msg","rules":[{"t":"gte","v":"584","vt":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":320,"y":320,"wires":[["31ba8c30.31ce34"],["25d9099d.0730a6"]]},{"id":"31ba8c30.31ce34","type":"change","z":"890ea481.cce2d8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":300,"wires":[["483e0262.1a198c","6cf4e863.64fe38"]]},{"id":"25d9099d.0730a6","type":"change","z":"890ea481.cce2d8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":340,"wires":[["483e0262.1a198c","6cf4e863.64fe38"]]},{"id":"6bc80cff.eb3ed4","type":"switch","z":"890ea481.cce2d8","d":true,"name":"humidity < 580","property":"payload[1]","propertyType":"msg","rules":[{"t":"lt","v":"580","vt":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":320,"y":140,"wires":[["4f217803.119368"],["2395f60f.d58b2a"]]},{"id":"4f217803.119368","type":"change","z":"890ea481.cce2d8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":120,"wires":[["6715419d.fd0f","eafd729e.55dc7"]]},{"id":"2395f60f.d58b2a","type":"change","z":"890ea481.cce2d8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":160,"wires":[["6715419d.fd0f","eafd729e.55dc7"]]},{"id":"94b59bf0.6d91b8","type":"debug","z":"890ea481.cce2d8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1150,"y":120,"wires":[]},{"id":"6cf4e863.64fe38","type":"file","z":"890ea481.cce2d8","name":"","filename":"/sys/class/leds/igt22::usr5/brightness","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":870,"y":300,"wires":[[]]},{"id":"eafd729e.55dc7","type":"file","z":"890ea481.cce2d8","name":"","filename":"/sys/class/leds/igt22::usr4/brightness","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":870,"y":120,"wires":[[]]},{"id":"1f8de1d1.297b9e","type":"modbus-client","name":"","clienttype":"serial","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyS2","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true}]