Modbus2Mqtt.json
[{"id":"f87644d3.b012f8","type":"tab","label":"Modbus2Mqtt","disabled":false,"info":""},{"id":"d5c58651.b86b48","type":"file","z":"f87644d3.b012f8","name":"","filename":"/sys/class/gpio/gpio111/value","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":880,"y":260,"wires":[["7464d96d.fb1128"]]},{"id":"cfcd23c5.2e223","type":"function","z":"f87644d3.b012f8","d":true,"name":"MQTT anyway","func":"msg.payload={\n    \"serialNumber\": \"IGT22_K4099998_TTYS2\",\n    \"temp\": msg.payload.data[0],\n    \"hum\": msg.payload.data[1]}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":420,"wires":[[]]},{"id":"cf5d4baa.dc68c8","type":"function","z":"f87644d3.b012f8","name":"","func":"if (msg.payload[1] >= 584)\n{\n    msg.payload = \"1\"\n}\nelse\n    msg.payload = \"0\"\n    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":260,"wires":[["d5c58651.b86b48"]]},{"id":"5751d0b0.2c1fa","type":"function","z":"f87644d3.b012f8","d":true,"name":"MQTT on any change","func":"var prevTemp=flow.get(\"prevTemp\")||0;\nvar prevHumi=flow.get(\"prevHumi\")||0;\n\nvar Temp=msg.payload.data[0];\nvar Humi=msg.payload.data[1];\n\n\nif (Temp != prevTemp || Humi != prevHumi){\n    msg.payload={\n        \"serialNumber\": \"IGT22_K4099998_TTYS2\",\n        \"temp\": Temp,\n        \"hum\": Humi}\n        \n    //flow.set(\"prevTemp\", Temp);\n    //flow.set(\"prevHumi\", Humi);\n    return msg;\n}\n\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":460,"wires":[[]]},{"id":"1272f315.e9d50d","type":"modbus-read","z":"f87644d3.b012f8","name":"","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"563","quantity":"2","rate":"20","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"1f8de1d1.297b9e","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":130,"y":300,"wires":[["cf02832.4ba988","792d2cba.120f04"],["cfcd23c5.2e223","5751d0b0.2c1fa","8c023ada.385068","b0a92486.257168"]]},{"id":"7311886c.f200f8","type":"debug","z":"f87644d3.b012f8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":690,"y":560,"wires":[]},{"id":"1275a2e7.1b5cbd","type":"mqtt out","z":"f87644d3.b012f8","name":"","topic":"/sensor/data","qos":"0","retain":"false","broker":"e8dded67.2d61c","x":690,"y":520,"wires":[]},{"id":"8c023ada.385068","type":"function","z":"f87644d3.b012f8","d":true,"name":"MQTT on change only","func":"var prevTemp=flow.get(\"prevTemp\")||0;\nvar prevHumi=flow.get(\"prevHumi\")||0;\n\nvar Temp=msg.payload.data[0];\nvar Humi=msg.payload.data[1];\n\nvar sent=false;\n\nmsg.payload={\n        \"serialNumber\": \"IGT22_K4099998_TTYS2\",\n}\n    \nif (Temp != prevTemp){\n    msg.payload.temp=Temp;\n    flow.set(\"prevTemp\", Temp);\n    sent=true;\n}\n\nif (Humi != prevHumi){\n    msg.payload.hum=Humi;\n    flow.set(\"prevHumi\", Humi);    \n    sent=true;\n}\n\nif (sent == true)\n    return msg;\nelse\n    return null;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":500,"wires":[[]]},{"id":"6703d433.c11d6c","type":"file","z":"f87644d3.b012f8","name":"","filename":"/sys/class/gpio/gpio110/value","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":880,"y":80,"wires":[["7464d96d.fb1128"]]},{"id":"954184fc.eafd88","type":"function","z":"f87644d3.b012f8","name":"","func":"if (msg.payload[1] < 580)\n{\n    msg.payload = \"1\"\n}\nelse\n    msg.payload = \"0\"\n    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":80,"wires":[["6703d433.c11d6c"]]},{"id":"b0a92486.257168","type":"function","z":"f87644d3.b012f8","name":"MQTT on change only unless 1 min","func":"var prevTemp=flow.get(\"prevTemp\")||0;\nvar prevTempTime=flow.get(\"prevTempTime\")||0;\n\nvar prevHumi=flow.get(\"prevHumi\")||0;\nvar prevHumiTime=flow.get(\"prevHumiTime\")||0;\n\nvar Temp=msg.payload.data[0];\nvar Humi=msg.payload.data[1];\n\nvar sent=false;\n\nmsg.payload={\n        \"serialNumber\": \"IGT22_K4099998_TTYS2\",\n}\n    \nif (Temp != prevTemp || Date.now()-prevTempTime > 60000){\n    msg.payload.temp=Temp;\n    flow.set(\"prevTemp\", Temp);\n    flow.set(\"prevTempTime\", Date.now());\n    sent=true;\n}\n\nif (Humi != prevHumi || Date.now()-prevHumiTime > 60000){\n    msg.payload.hum=Humi;\n    flow.set(\"prevHumi\", Humi);\n    flow.set(\"prevHumiTime\", Date.now());\n    sent=true;\n}\n\nif (sent == true)\n    return msg;\nelse\n    return null;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":540,"wires":[["7311886c.f200f8","1275a2e7.1b5cbd"]]},{"id":"792d2cba.120f04","type":"switch","z":"f87644d3.b012f8","name":"humidity >= 584","property":"payload[1]","propertyType":"msg","rules":[{"t":"gte","v":"584","vt":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":360,"y":320,"wires":[["dd452229.a5587"],["c9194cdb.19074"]]},{"id":"dd452229.a5587","type":"change","z":"f87644d3.b012f8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":300,"wires":[["d5c58651.b86b48","55a7a8d1.b14858"]]},{"id":"c9194cdb.19074","type":"change","z":"f87644d3.b012f8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":340,"wires":[["d5c58651.b86b48","55a7a8d1.b14858"]]},{"id":"cf02832.4ba988","type":"switch","z":"f87644d3.b012f8","name":"humidity < 580","property":"payload[1]","propertyType":"msg","rules":[{"t":"lt","v":"580","vt":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":360,"y":140,"wires":[["83a5988d.159788"],["41769b9d.0562b4"]]},{"id":"83a5988d.159788","type":"change","z":"f87644d3.b012f8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":120,"wires":[["6703d433.c11d6c","61e08b95.075114"]]},{"id":"41769b9d.0562b4","type":"change","z":"f87644d3.b012f8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":160,"wires":[["6703d433.c11d6c","61e08b95.075114"]]},{"id":"7464d96d.fb1128","type":"debug","z":"f87644d3.b012f8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1190,"y":120,"wires":[]},{"id":"f295c127.f1207","type":"aedes broker","z":"f87644d3.b012f8","name":"","mqtt_port":1883,"mqtt_ws_bind":"port","mqtt_ws_port":"","mqtt_ws_path":"","cert":"","key":"","certname":"","keyname":"","dburl":"","usetls":false,"x":110,"y":120,"wires":[[]]},{"id":"55a7a8d1.b14858","type":"file","z":"f87644d3.b012f8","name":"","filename":"/sys/class/leds/igt22::usr5/brightness","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":910,"y":300,"wires":[["7464d96d.fb1128"]]},{"id":"61e08b95.075114","type":"file","z":"f87644d3.b012f8","name":"","filename":"/sys/class/leds/igt22::usr4/brightness","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":910,"y":120,"wires":[["7464d96d.fb1128"]]},{"id":"51275bd5.89ee94","type":"comment","z":"f87644d3.b012f8","name":"Humiditiy Low","info":"","x":350,"y":40,"wires":[]},{"id":"8a7ca6b1.98faa8","type":"comment","z":"f87644d3.b012f8","name":"Humiditiy High","info":"","x":360,"y":220,"wires":[]},{"id":"1f8de1d1.297b9e","type":"modbus-client","name":"","clienttype":"serial","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyS2","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"e8dded67.2d61c","type":"mqtt-broker","name":"","broker":"172.17.0.2","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
